### SESSION 16 - PANDAS SERIES

### What is Pandas
- Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool, built on top of the Python programming language.
- https://pandas.pydata.org/about/index.html

### Pandas Series
- A Pandas Series is like a column in a table. It is a 1-D array holding data of any type.
- Each value in a pandas series is associated with the index. 
- The default index value of it is from 0 to number â€“ 1, or you can specify your own index values.
- **Syntax : pd.Series( data, index, name )**
- Index generate automatically if you want to generate custom index we can use `index` parameters

#### Basic data structure in pandas
Pandas provide two types of classes for handling data:
- **Series**
- **DataFrame**

#### Importing Pandas
There are different way to import pandas library:

Most common way is with `import` statement with alias:
- **import pandas as pd**

Importing all the function and class:
- **from pandas import ***

Importing the specific function and class library:
- **from pandas import DataFrame, read_csv**

**Installing pandas library**

In [1]:
# installing pandas library in jupyter notebook
!pip install pandas

Requirement already satisfied: pandas in c:\python311\lib\site-packages (2.1.0)
Requirement already satisfied: numpy>=1.23.2 in c:\python311\lib\site-packages (from pandas) (1.24.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

**Checking pandas version**

In [6]:
# checking pandas versrion
import pandas as pd
print(pd.__version__)

1.5.0

**Upgrading the pandas library version:**

In [7]:
# upgrading the pandas library version in jupyter notebook
!pip install --upgrade pandas

Requirement already satisfied: pandas in c:\python311\lib\site-packages (2.1.0)
Requirement already satisfied: numpy>=1.23.2 in c:\python311\lib\site-packages (from pandas) (1.24.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

**Create a Series from lists:**
1. string
2. integers
3. custom index
4. setting a name

In [60]:
# string
countries = ['India', 'Nepal', 'Srilanka', 'Bhutan']
print(pd.Series(countries))
# Note : dtype : object all countries data type and we consider as string dtype

0       India
1       Nepal
2    Srilanka
3      Bhutan
dtype: object

In [61]:
# integer
runs = [54,76,100,74]
print(pd.Series(runs))

0     54
1     76
2    100
3     74
dtype: int64

In [62]:
# Custom index
marks = [58,93,89,60]
subjects = ['C++','Python','NumPy','Java']
print(pd.Series(marks, index=subjects))

C++       58
Python    93
NumPy     89
Java      60
dtype: int64

**Create a Series from Dictionary:**

In [63]:
import pandas as pd
marks = {
    'maths':78,
    'english': 70,
    'science': 89
}
pd.Series(marks, name='student score')

maths      78
english    70
science    89
Name: student score, dtype: int64

### Series Attribute :
- In Pandas, a Series object has several important attributes that is commonly used attributes of a Pandas Series include:

**size:**
- The size attribute returns the number of elements in a Series, including any elements that might contain missing or NaN (Not-a-Number) values.

In [64]:
import pandas as pd
data = [10, 20, 30, None, 50]
print(pd.Series(data).size) 

data1 = [10, 20, 30, 50]
print(pd.Series(data1).size)

5
4

**dtype:** 
- This attribute returns the data type of the elements in the Series. 
- It can be used to check the data type of the data within the Series.

In [65]:
import pandas as pd
data = [10, 20, 30, 40, 50]
print(pd.Series(data).dtype)

int64

**name:** 
- You can assign a name to a Series when creating it or later using the name attribute. 
- The name is typically used in the context of DataFrames, where a Series can represent a column.

In [66]:
import pandas as pd
data = [10, 20, 30, 40, 50]
print(pd.Series(data, name='MyData').name)

MyData

**is_unique:**
- The is_unique attribute returns a boolean value indicating whether all the values in the Series are unique (no duplicates) or not.

In [67]:
import pandas as pd
data1 = [10, 20, 30, 40, 50]
print(pd.Series(data).is_unique)  # Returns True

data2 = [10, 10, 30, 50, 50]
print(pd.Series(data2).is_unique)  # Returns False

True
False

**index:** 
- This attribute returns the index labels associated with the Series. 
- The index labels can be integers, strings, or any other data type. 
- If no index labels were explicitly provided when creating the Series, a default integer index will be generated.

In [68]:
import pandas as pd
data = [10, 20, 30, 40, 50]
index_labels = ['A', 'B', 'C', 'D', 'E']
print(pd.Series(data, index=index_labels).index)

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

**values:** 
- This attribute returns the data in the Series as a NumPy array.

In [69]:
import pandas as pd
marks = {'maths':78,'english': 70,'science': 89}
print(pd.Series(marks).values)

[78 70 89]

### Series using read_csv():

- **squeeze=True :** 
    - to avoid DataFrame
    - specifies that the result should be squeezed into a Series if it has only one column.
- **index_col :**
    - used to specify which column in the CSV file should be used as the index for the resulting DataFrame.
    - The index is a way to uniquely identify each row in the DataFrame. 
    - By default, if you don't specify the index_col parameter, Pandas will create a default integer index starting from 0.

In [70]:
import pandas as pd
subs = pd.read_csv('DATASETS/S16/subs.csv', squeeze=True)
print(subs)
print(type(subs))

C:\Users\Akash Pagi\AppData\Local\Temp\ipykernel_3524\2235976868.py:2: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  subs = pd.read_csv('DATASETS/S16/subs.csv', squeeze=True)

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64
<class 'pandas.core.series.Series'>

In [71]:
vk = pd.read_csv('DATASETS/S16/kohli_ipl.csv', index_col='match_no', squeeze=True)
print(vk)
print(type(vk))

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64
<class 'pandas.core.series.Series'>

C:\Users\Akash Pagi\AppData\Local\Temp\ipykernel_3524\1927180952.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  vk = pd.read_csv('DATASETS/S16/kohli_ipl.csv', index_col='match_no', squeeze=True)

In [72]:
m = pd.read_csv('DATASETS/S16/bollywood.csv', index_col='movie', squeeze=True)
print(m)
print(type(m))

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object
<class 'pandas.core.series.Series'>

C:\Users\Akash Pagi\AppData\Local\Temp\ipykernel_3524\2781145530.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  m = pd.read_csv('DATASETS/S16/bollywood.csv', index_col='movie', squeeze=True)

### Series Methods:

**head():**
- The head() method is used to display the first few rows (default is 5) of a DataFrame or Series.
- if we provide negative number as parameter then return all rows.

In [73]:
# head()
print(vk.head()) # default is 5
print(vk.head(2))
#print(vk.head(-2))

match_no
1     1
2    23
3    13
4    12
5     1
Name: runs, dtype: int64
match_no
1     1
2    23
Name: runs, dtype: int64

**tail():**
- The tail() method is used to display the last few rows (default is 5) of a DataFrame or Series.

In [74]:
import pandas as pd
#print(vk.tail()) # default is 5
print(vk.tail(3)) # specific number

match_no
213    73
214    25
215     7
Name: runs, dtype: int64

**sample()**
- The sample() method in Pandas is used to randomly select a specified number of rows (default is 1) or elements from a DataFrame or Series. 
- This is particularly useful when you want to obtain a random sample from your data for various purposes, such as data exploration, analysis, or testing.
- If you have biased in your datasets then we can use this method.

In [75]:
print(vk.sample()) 
# 3 randoms row form dataset
print(vk.sample(3))

match_no
157    46
Name: runs, dtype: int64
match_no
74     65
201    12
158     3
Name: runs, dtype: int64

**value_counts() function:**
- the value_counts() function in Pandas to count the frequency of values that occur multiple times in a Series.

In [76]:
print(m.value_counts())

Akshay Kumar        48
Amitabh Bachchan    45
Ajay Devgn          38
Salman Khan         31
Sanjay Dutt         26
                    ..
Diganth              1
Parveen Kaur         1
Seema Azmi           1
Akanksha Puri        1
Edwin Fernandes      1
Name: lead, Length: 566, dtype: int64

**sort_values() function:**
- sort_values() is used to sort the values within a Pandas Series.
- By default, it sorts the values in ascending order, but you can specify the sorting order using the ascending parameter, where **ascending=True** sorts in ascending order, and **ascending=False** sorts in descending order
- **syntax: series.sort_values(ascending, inplace)**
    - **inplace:** 
        - The inplace parameter, when set to True, performs the sorting operation in-place, meaning it modifies the original Series, and the sorted result replaces the original data. 
        - If inplace is set to False (or not specified, as False is the default), it returns a new Series with the sorted values while leaving the original Series unchanged.

In [77]:
#print(vk.sort_values()) # defualt ascending=True
print(vk.sort_values(ascending=False))

match_no
128    113
126    109
123    108
164    100
120    100
      ...
93       0
211      0
130      0
8        0
135      0
Name: runs, Length: 215, dtype: int64

**Method chaining :**
- Method chaining Pandas Series refers to the practice of applying multiple operations or methods to a Series in a single, concise line of code. 
- This approach is both efficient and readable, making it easier to perform complex data manipulations and transformations.

In [78]:
# method chaining
print(vk.sort_values(ascending=False).head(1).values[0])

113

In [79]:
# with inplace=True for permanet changes in series
#vk.sort_values(inplace=True)

In [80]:
#vk

**sort_index():** 
- the sort_index() method in Pandas Series is similar in concept to the sort_values() method, but **instead of sorting the values within the Series, it sorts the index (row labels) of the Series.** 
- Both methods allow you to control the sorting order, either ascending or descending, and both can be used with the inplace parameter to modify the original Series.
- **syntax: series.sort_index(data,index inplace)**

In [1]:
# defualt ascending
print(vk.sort_index())
# dscending
print(vk.sort_index(ascending=False,inplace=True))

NameError: name 'vk' is not defined

In [ ]:
# with inplace=True for permanent changes in series
#vk.sort_index(inplace=True)

**Series Mathematical Methods :**

Common statistical methods in Pandas Series for analyzing data:

In [2]:
import pandas as pd
subs = pd.read_csv('DATASETS/S16/subs.csv',squeeze=True)
print(subs)
print(type(subs))

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64
<class 'pandas.core.series.Series'>

C:\Users\Akash Pagi\AppData\Local\Temp\ipykernel_14516\2046111153.py:2: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  subs = pd.read_csv('DATASETS/S16/subs.csv',squeeze=True)

In [3]:
vk = pd.read_csv('DATASETS/S16/kohli_ipl.csv', index_col='match_no',squeeze=True)
print(vk)
print(type(vk))

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64
<class 'pandas.core.series.Series'>

C:\Users\Akash Pagi\AppData\Local\Temp\ipykernel_14516\240583641.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  vk = pd.read_csv('DATASETS/S16/kohli_ipl.csv', index_col='match_no',squeeze=True)

In [4]:
m = pd.read_csv('DATASETS/S16/bollywood.csv', index_col='movie', squeeze=True)
print(m)
print(type(m))

C:\Users\Akash Pagi\AppData\Local\Temp\ipykernel_14516\2781145530.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  m = pd.read_csv('DATASETS/S16/bollywood.csv', index_col='movie', squeeze=True)

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object
<class 'pandas.core.series.Series'>

**count():**
- Count the non-null elements in the Series.

In [5]:
print(vk.count())
print(subs.count())

215
365

**sum():**
- the sum() method is used to calculate the sum of all the elements in a Series

In [6]:
print(subs.sum())

49510

**product():**
- The product() method in Pandas Series is used to calculate the product of all elements in the Series. 
- It multiplies all the values together and returns the result.

In [7]:
print(subs.product())
print(vk.product())

0
0

**mean():** 
- This method calculates the mean (average) of the elements in a Series.

In [8]:
print('average yt subs of campusx channel:',subs.mean())
print('average ipl runs of virat kohli:',vk.mean())

average yt subs of campusx channel: 135.64383561643837
average ipl runs of virat kohli: 30.855813953488372

**median():** 
- The median() method calculates the median of the elements in a Series, which is the middle value when the data is sorted. It's a measure of central tendency.

In [9]:
print(subs.median())
print(vk.median())

123.0
24.0

**mode():** 
- The mode() method returns the mode(s) of the elements in a Series, which is the most frequently occurring value(s).

In [10]:
print('Most frequent lead actor :')
print(m.mode())

Most frequent lead actor :
0    Akshay Kumar
Name: lead, dtype: object

**std():** 
- The std() method computes the standard deviation of the elements in a Series, which measures the spread or dispersion of the data.

In [11]:
print(vk.std())

26.22980132830278

**var():** 
- The var() method calculates the variance of the elements in a Series, which is the average of the squared differences from the mean.

In [12]:
print(subs.var())
print(vk.var())

3928.1585127201565
688.0024777222343

**min():**
- The min() method returns the minimum value in a Series or DataFrame.

In [13]:
print('minimum subs:',subs.min())
print('minimum runs:',vk.min())

minimum subs: 33
minimum runs: 0

**max():**
- The max() method returns the maximum value in a Series or DataFrame.

In [14]:
print('maximum subs:',subs.max())
print('maximum runs:',vk.max())

maximum subs: 396
maximum runs: 113

**describe():**
- The describe() method in Pandas is a convenient function to generate descriptive statistics of a numeric Series or DataFrame. 
- It provides a summary of various statistical measures, giving you insights into the data's distribution and central tendency.

- The describe() method provides the following statistics:

    - **count:** The number of non-null elements in the Series.
    - **mean:** The mean (average) of the Series.
    - **std:** The standard deviation, which measures the spread of the data.
    - **min:** The minimum value in the Series.
    - **25%:** The 25th percentile (lower quartile).
    - **50%:** The median (50th percentile).
    - **75%:** The 75th percentile (upper quartile).
    - **max:** The maximum value in the Series.
    
- **Note:** the describe() works on numeric data

In [15]:
print(vk.describe())

count    215.000000
mean      30.855814
std       26.229801
min        0.000000
25%        9.000000
50%       24.000000
75%       48.000000
max      113.000000
Name: runs, dtype: float64

In [16]:
print(subs.describe())

count    365.000000
mean     135.643836
std       62.675023
min       33.000000
25%       88.000000
50%      123.000000
75%      177.000000
max      396.000000
Name: Subscribers gained, dtype: float64

**Indexing in Series:**

In [2]:
import pandas as pd
subs = pd.read_csv('DATASETS/S16/subs.csv', squeeze=True)
print(subs)
print(type(subs))

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64
<class 'pandas.core.series.Series'>

C:\Users\Akash Pagi\AppData\Local\Temp\ipykernel_16108\2235976868.py:2: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  subs = pd.read_csv('DATASETS/S16/subs.csv', squeeze=True)

In [3]:
vk = pd.read_csv('DATASETS/S16/kohli_ipl.csv', index_col='match_no', squeeze=True)
print(vk)
print(type(vk))

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64
<class 'pandas.core.series.Series'>

C:\Users\Akash Pagi\AppData\Local\Temp\ipykernel_16108\1927180952.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  vk = pd.read_csv('DATASETS/S16/kohli_ipl.csv', index_col='match_no', squeeze=True)

In [54]:
m = pd.read_csv('DATASETS/S16/bollywood.csv', index_col='movie', squeeze=True)
print(m)
print(type(m))

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object
<class 'pandas.core.series.Series'>

C:\Users\Akash Pagi\AppData\Local\Temp\ipykernel_16108\2781145530.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  m = pd.read_csv('DATASETS/S16/bollywood.csv', index_col='movie', squeeze=True)

In [5]:
#Positive Indexing in series:
import pandas as pd
series = pd.Series([10,20,40,50])
print(series)

0    10
1    20
2    40
3    50
dtype: int64

**Note:** Positive indexing works but negative indexing not works

In [6]:
print(series[0])
print(series[1])
#print(series[5]) # ValueError & KeyError

10
20

In [7]:
#Negative Indexing in sereis:
#It is not working on series
#print(series[-1]) # ValueError & KeyError

**Note:**  Here movie name act as index or we can provide index number

In [8]:
# bollywood.csv dataset
# Both positive and negative is possible
print(m['Uri: The Surgical Strike'])
print(m[1])
print(m[-1])

Vicky Kaushal
Vicky Ahuja
Akshay Kumar

**Indexing with labels:**

In [9]:
# movie name is label for index
print(m['Uri: The Surgical Strike'])

Vicky Kaushal

**Slicing:**
- Slicing a series it's similar to python object slicing.

In [15]:
# Positive slicing
print(vk[4:8])
print(vk[1:8:2])

match_no
5     1
6     9
7    34
8     0
Name: runs, dtype: int64
match_no
2    23
4    12
6     9
8     0
Name: runs, dtype: int64

C:\Users\Akash Pagi\AppData\Local\Temp\ipykernel_16108\172697915.py:2: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  print(vk[4:8])
C:\Users\Akash Pagi\AppData\Local\Temp\ipykernel_16108\172697915.py:3: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  print(vk[1:8:2])

In [11]:
# negative slicing 
print(m[-5:]) # last 5 movies

movie
Hum Tumhare Hain Sanam      Shah Rukh Khan
Aankhen (2002 film)       Amitabh Bachchan
Saathiya (film)               Vivek Oberoi
Company (film)                  Ajay Devgn
Awara Paagal Deewana          Akshay Kumar
Name: lead, dtype: object

In [12]:
# Virat kohli last 5 ipl matches run 
print(vk[-4:])

match_no
212    20
213    73
214    25
215     7
Name: runs, dtype: int64

C:\Users\Akash Pagi\AppData\Local\Temp\ipykernel_16108\3379503773.py:2: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  print(vk[-4:])

**Fancy indexing:**|

In [13]:
print(vk[[4,3,7]])
print(m[[4,6,10]])
print(subs[[9,6]])

match_no
4    12
3    13
7    34
Name: runs, dtype: int64
movie
Evening Shadows    Mona Ambegaonkar
Fraud Saiyaan          Arshad Warsi
Amavas                    Ali Asgar
Name: lead, dtype: object
9    74
6    33
Name: Subscribers gained, dtype: int64

**Editing Pandas Series:(Optional)**

Editing a Pandas Series involves modifying the data within the Series or changing its values or index labels.
Here are some common operations for editing Pandas Series:

In [24]:
import pandas as pd
marks = [58,93,89,60]
subjects = ['C++','Python','NumPy','Java']
student_marks = pd.Series(marks, index=subjects)
print(student_marks)

C++       58
Python    93
NumPy     89
Java      60
dtype: int64

In [26]:
# Change a specific value
student_marks[0] = 90
print(student_marks)

C++       90
Python    93
NumPy     89
Java      60
dtype: int64

In [27]:
# what if an index does not exist
student_marks['JavaScript'] = 90
print(student_marks)

C++           90
Python        93
NumPy         89
Java          60
JavaScript    90
dtype: int64

In [33]:
# Using slicing:
# changing the vk ipl runs
vk[0:3] = [90,70,100]
print(vk.head(4))

match_no
1     90
2     70
3    100
4     12
Name: runs, dtype: int64

C:\Users\Akash Pagi\AppData\Local\Temp\ipykernel_16108\2370768700.py:3: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  vk[0:3] = [90,70,100]

In [34]:
# Fancy indexing:
vk[[1,2,3,4]] = [70,70,70,70]
print(vk.head(4))

match_no
1    70
2    70
3    70
4    70
Name: runs, dtype: int64

In [39]:
# using index label
m['Battalion 609'] = 'Salman Khan'
print(m.head(4))

movie
Uri: The Surgical Strike                Vicky Kaushal
Battalion 609                             Salman Khan
The Accidental Prime Minister (film)      Anupam Kher
Why Cheat India                         Emraan Hashmi
Name: lead, dtype: object

**Note:** Most of the time, real world data is only reading purpose.

**Series with Python Functionalities:**

In [42]:
# len/type/dir/sorted/max/min
print(len(subs))
print(type(subs))
#print(dir(subs))
#print(sorted(subs))
print(min(subs))
print(max(subs))

365
<class 'pandas.core.series.Series'>
33
396

**type conversion:**

In [45]:
print(list(student_marks))

[90, 93, 89, 60, 90]

In [46]:
print(dict(student_marks))

{'C++': 90, 'Python': 93, 'NumPy': 89, 'Java': 60, 'JavaScript': 90}

**membership operator:**
- It works on index values

In [55]:
m

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [58]:
print('Company (film)' in m)
print('Evening' in m)

True
False

**Looping:**

In [66]:
for i in student_marks.index:
    print(i)

C++
Python
NumPy
Java
JavaScript

**Arthimatic operator:**

In [68]:
print(student_marks)

C++           90
Python        93
NumPy         89
Java          60
JavaScript    90
dtype: int64

In [69]:
# remaining marks to get out of 
# It's like broadcasting
print(100 - student_marks)

C++           10
Python         7
NumPy         11
Java          40
JavaScript    10
dtype: int64

**Relational operator :**

In [75]:
# vk hits more than or equal to 50 runs
print(vk >= 50)

match_no
1       True
2       True
3       True
4       True
5      False
       ...
211    False
212    False
213     True
214    False
215    False
Name: runs, Length: 215, dtype: bool

**Boolean Indexing on Series:**

In [78]:
# Find no of 50's and 100's scored by kohli
vk_score = vk[vk >= 50]
print(vk_score)
print(vk_score.size)

match_no
1       70
2       70
3       70
4       70
15      50
34      58
41      71
44      56
45      67
52      70
57      57
68      73
71      51
73      58
74      65
80      57
81      93
82      99
85      56
97      67
99      73
103     51
104     62
110     82
116     75
117     79
119     80
120    100
122     52
123    108
126    109
127     75
128    113
129     54
131     54
132     62
134     64
137     55
141     58
144     57
145     92
148     68
152     70
160     84
162     67
164    100
175     72
178     90
182     50
188     72
197     51
198     53
209     58
213     73
Name: runs, dtype: int64
54

In [81]:
# find number of ducks(zeros)
print(vk[vk==0])
print(vk[vk==0].size)

match_no
8      0
87     0
91     0
93     0
130    0
135    0
206    0
207    0
211    0
Name: runs, dtype: int64
9

In [83]:
# Count number of day when I had more than 200 subs a day
print(subs[subs > 200].size)

59

In [89]:
# find actors who have done more than 20 movies
m_count = m.value_counts()
print(m_count[m_count > 20])

Akshay Kumar        48
Amitabh Bachchan    45
Ajay Devgn          38
Salman Khan         31
Sanjay Dutt         26
Shah Rukh Khan      22
Emraan Hashmi       21
Name: lead, dtype: int64

**Plotting Graphs on Series:**

**Some Important Series Methods:**

In [ ]:
# astype
# between
# clip
# drop_duplicates
# isnull
# dropna
# fillna
# isin
# apply
# copy