### SESSION 16 - PANDAS SERIES

### What is Pandas
- Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool, built on top of the Python programming language.
- https://pandas.pydata.org/about/index.html

### Pandas Series
- A Pandas Series is like a column in a table. It is a 1-D array holding data of any type.
- Each value in a pandas series is associated with the index. 
- The default index value of it is from 0 to number â€“ 1, or you can specify your own index values.
- **Syntax : pd.Series( data, index, name )**
- Index generate automatically if you want to generate custom index we can use `index` parameters

### Importing Pandas

In [2]:
import numpy as np
import pandas as pd

In [59]:
# checking pandas versrion
import pandas as pd
print(pd.__version__)

# installing pandas library in jupyter notebook
!pip install pandas

# upgrading the pandas versionlibrary in jupyter notebook
!pip install --upgrade pandas

1.5.0
Requirement already satisfied: pandas in c:\python311\lib\site-packages (2.1.0)
Requirement already satisfied: numpy>=1.23.2 in c:\python311\lib\site-packages (from pandas) (1.24.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: pandas in c:\python311\lib\site-packages (2.1.0)
Requirement already satisfied: numpy>=1.23.2 in c:\python311\lib\site-packages (from pandas) (1.24.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

**Create a Series from lists:**
1. string
2. integers
3. custom index
4. setting a name

In [60]:
# string
countries = ['India', 'Nepal', 'Srilanka', 'Bhutan']
print(pd.Series(countries))
# Note : dtype : object all countries data type and we consider as string dtype

0       India
1       Nepal
2    Srilanka
3      Bhutan
dtype: object

In [61]:
# integer
runs = [54,76,100,74]
print(pd.Series(runs))

0     54
1     76
2    100
3     74
dtype: int64

In [62]:
# Custom index
marks = [58,93,89,60]
subjects = ['C++','Python','NumPy','Java']
print(pd.Series(marks, index=subjects))

C++       58
Python    93
NumPy     89
Java      60
dtype: int64

**Create a Series from Dictionary:**

In [63]:
import pandas as pd
marks = {
    'maths':78,
    'english': 70,
    'science': 89
}
pd.Series(marks, name='student score')

maths      78
english    70
science    89
Name: student score, dtype: int64

### Series Attribute :
- In Pandas, a Series object has several important attributes that is commonly used attributes of a Pandas Series include:

**size:**
- The size attribute returns the number of elements in a Series, including any elements that might contain missing or NaN (Not-a-Number) values.

In [64]:
import pandas as pd
data = [10, 20, 30, None, 50]
print(pd.Series(data).size) 

data1 = [10, 20, 30, 50]
print(pd.Series(data1).size)

5
4

**dtype:** 
- This attribute returns the data type of the elements in the Series. 
- It can be used to check the data type of the data within the Series.

In [65]:
import pandas as pd
data = [10, 20, 30, 40, 50]
print(pd.Series(data).dtype)

int64

**name:** 
- You can assign a name to a Series when creating it or later using the name attribute. 
- The name is typically used in the context of DataFrames, where a Series can represent a column.

In [66]:
import pandas as pd
data = [10, 20, 30, 40, 50]
print(pd.Series(data, name='MyData').name)

MyData

**is_unique:**
- The is_unique attribute returns a boolean value indicating whether all the values in the Series are unique (no duplicates) or not.

In [67]:
import pandas as pd
data1 = [10, 20, 30, 40, 50]
print(pd.Series(data).is_unique)  # Returns True

data2 = [10, 10, 30, 50, 50]
print(pd.Series(data2).is_unique)  # Returns False

True
False

**index:** 
- This attribute returns the index labels associated with the Series. 
- The index labels can be integers, strings, or any other data type. 
- If no index labels were explicitly provided when creating the Series, a default integer index will be generated.

In [68]:
import pandas as pd
data = [10, 20, 30, 40, 50]
index_labels = ['A', 'B', 'C', 'D', 'E']
print(pd.Series(data, index=index_labels).index)

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

**values:** 
- This attribute returns the data in the Series as a NumPy array.

In [69]:
import pandas as pd
marks = {'maths':78,'english': 70,'science': 89}
print(pd.Series(marks).values)

[78 70 89]

### Series using read_csv():

- **squeeze=True :** 
    - to avoid DataFrame
    - specifies that the result should be squeezed into a Series if it has only one column.
- **index_col :**
    - used to specify which column in the CSV file should be used as the index for the resulting DataFrame.
    - The index is a way to uniquely identify each row in the DataFrame. 
    - By default, if you don't specify the index_col parameter, Pandas will create a default integer index starting from 0.

In [70]:
import pandas as pd
subs = pd.read_csv('DATASETS/S16/subs.csv', squeeze=True)
print(subs)
print(type(subs))

C:\Users\Akash Pagi\AppData\Local\Temp\ipykernel_3524\2235976868.py:2: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  subs = pd.read_csv('DATASETS/S16/subs.csv', squeeze=True)

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64
<class 'pandas.core.series.Series'>

In [71]:
vk = pd.read_csv('DATASETS/S16/kohli_ipl.csv', index_col='match_no', squeeze=True)
print(vk)
print(type(vk))

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64
<class 'pandas.core.series.Series'>

C:\Users\Akash Pagi\AppData\Local\Temp\ipykernel_3524\1927180952.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  vk = pd.read_csv('DATASETS/S16/kohli_ipl.csv', index_col='match_no', squeeze=True)

In [72]:
m = pd.read_csv('DATASETS/S16/bollywood.csv', index_col='movie', squeeze=True)
print(m)
print(type(m))

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object
<class 'pandas.core.series.Series'>

C:\Users\Akash Pagi\AppData\Local\Temp\ipykernel_3524\2781145530.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  m = pd.read_csv('DATASETS/S16/bollywood.csv', index_col='movie', squeeze=True)

### Series Methods:

**head():**
- The head() method is used to display the first few rows (default is 5) of a DataFrame or Series.
- if we provide negative number as parameter then return all rows.

In [73]:
# head()
print(vk.head()) # default is 5
print(vk.head(2))
#print(vk.head(-2))

match_no
1     1
2    23
3    13
4    12
5     1
Name: runs, dtype: int64
match_no
1     1
2    23
Name: runs, dtype: int64

**tail():**
- The tail() method is used to display the last few rows (default is 5) of a DataFrame or Series.

In [74]:
import pandas as pd
#print(vk.tail()) # default is 5
print(vk.tail(3)) # specific number

match_no
213    73
214    25
215     7
Name: runs, dtype: int64

**sample()**
- The sample() method in Pandas is used to randomly select a specified number of rows (default is 1) or elements from a DataFrame or Series. 
- This is particularly useful when you want to obtain a random sample from your data for various purposes, such as data exploration, analysis, or testing.
- If you have biased in your datasets then we can use this method.

In [75]:
print(vk.sample()) 
# 3 randoms row form dataset
print(vk.sample(3))

match_no
157    46
Name: runs, dtype: int64
match_no
74     65
201    12
158     3
Name: runs, dtype: int64

**value_counts() function:**
- the value_counts() function in Pandas to count the frequency of values that occur multiple times in a Series.

In [76]:
print(m.value_counts())

Akshay Kumar        48
Amitabh Bachchan    45
Ajay Devgn          38
Salman Khan         31
Sanjay Dutt         26
                    ..
Diganth              1
Parveen Kaur         1
Seema Azmi           1
Akanksha Puri        1
Edwin Fernandes      1
Name: lead, Length: 566, dtype: int64

**sort_values() function:**
- sort_values() is used to sort the values within a Pandas Series.
- By default, it sorts the values in ascending order, but you can specify the sorting order using the ascending parameter, where **ascending=True** sorts in ascending order, and **ascending=False** sorts in descending order
- **syntax: series.sort_values(ascending, inplace)**
    - **inplace:** 
        - The inplace parameter, when set to True, performs the sorting operation in-place, meaning it modifies the original Series, and the sorted result replaces the original data. 
        - If inplace is set to False (or not specified, as False is the default), it returns a new Series with the sorted values while leaving the original Series unchanged.

In [77]:
#print(vk.sort_values()) # defualt ascending=True
print(vk.sort_values(ascending=False))

match_no
128    113
126    109
123    108
164    100
120    100
      ...
93       0
211      0
130      0
8        0
135      0
Name: runs, Length: 215, dtype: int64

**Method chaining :**
- Method chaining Pandas Series refers to the practice of applying multiple operations or methods to a Series in a single, concise line of code. 
- This approach is both efficient and readable, making it easier to perform complex data manipulations and transformations.

In [78]:
# method chaining
print(vk.sort_values(ascending=False).head(1).values[0])

113

In [79]:
# with inplace=True for permanet changes in series
#vk.sort_values(inplace=True)

In [80]:
#vk

**sort_index():** 
- the sort_index() method in Pandas Series is similar in concept to the sort_values() method, but **instead of sorting the values within the Series, it sorts the index (row labels) of the Series.** 
- Both methods allow you to control the sorting order, either ascending or descending, and both can be used with the inplace parameter to modify the original Series.
- **syntax: series.sort_(data,index inplace)**

In [83]:
# defualt ascending
print(vk.sort_index())
# dscending
print(vk.sort_index(ascending=False,inplace=True))

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64
None

In [84]:
# with inplace=True for permanent changes in series
#vk.sort_index(inplace=True)

**Series Mathematical Methods :**
Common statistical methods in Pandas Series for analyzing data:

In [85]:
import pandas as pd
subs = pd.read_csv('DATASETS/S16/subs.csv',squeeze=True)
print(subs)
print(type(subs))

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64
<class 'pandas.core.series.Series'>

C:\Users\Akash Pagi\AppData\Local\Temp\ipykernel_3524\2046111153.py:2: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  subs = pd.read_csv('DATASETS/S16/subs.csv',squeeze=True)

In [86]:
vk = pd.read_csv('DATASETS/S16/kohli_ipl.csv', index_col='match_no',squeeze=True)
print(vk)
print(type(vk))

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64
<class 'pandas.core.series.Series'>

C:\Users\Akash Pagi\AppData\Local\Temp\ipykernel_3524\240583641.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  vk = pd.read_csv('DATASETS/S16/kohli_ipl.csv', index_col='match_no',squeeze=True)

In [87]:
m = pd.read_csv('DATASETS/S16/bollywood.csv', index_col='movie', squeeze=True)
print(m)
print(type(m))

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object
<class 'pandas.core.series.Series'>

C:\Users\Akash Pagi\AppData\Local\Temp\ipykernel_3524\2781145530.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  m = pd.read_csv('DATASETS/S16/bollywood.csv', index_col='movie', squeeze=True)

**count():**
- Count the non-null elements in the Series.

In [88]:
print(vk.count())
print(subs.count())

215
365

**sum():**
- the sum() method is used to calculate the sum of all the elements in a Series

In [24]:
print(subs.sum())

49510

**product():**
- The product() method in Pandas Series is used to calculate the product of all elements in the Series. 
- It multiplies all the values together and returns the result.

In [29]:
print(subs.product())
print(vk.product())

0
0

**mean():** 
- This method calculates the mean (average) of the elements in a Series.

In [96]:
print('average yt subs of campusx channel:',subs.mean())
print('average ipl runs of virat kohli:',vk.mean())

average yt subs of campusx channel: 135.64383561643837
average ipl runs of virat kohli: 30.855813953488372

**median():** 
- The median() method calculates the median of the elements in a Series, which is the middle value when the data is sorted. It's a measure of central tendency.

In [36]:
print(subs.median())
print(vk.median())

123.0
24.0

**mode():** 
- The mode() method returns the mode(s) of the elements in a Series, which is the most frequently occurring value(s).

In [41]:
print('Most frequent lead actor :')
print(m.mode())

Most frequent lead actor :
0    Akshay Kumar
Name: lead, dtype: object

**std():** 
- The std() method computes the standard deviation of the elements in a Series, which measures the spread or dispersion of the data.

In [45]:
print(vk.std())

26.22980132830278

**var():** 
- The var() method calculates the variance of the elements in a Series, which is the average of the squared differences from the mean.

In [55]:
print(subs.var())
print(vk.var())

3928.1585127201565
688.0024777222343

**min():**
- The min() method returns the minimum value in a Series or DataFrame.

In [93]:
print('minimum subs:',subs.min())
print('minimum runs:',vk.min())

minimum subs: 33
minimum runs: 0

**max():**
- The max() method returns the maximum value in a Series or DataFrame.

In [94]:
print('maximum subs:',subs.max())
print('maximum runs:',vk.max())

maximum subs: 396
maximum runs: 113

**describe():**
- The describe() method in Pandas is a convenient function to generate descriptive statistics of a numeric Series or DataFrame. 
- It provides a summary of various statistical measures, giving you insights into the data's distribution and central tendency.

- The describe() method provides the following statistics:

    - **count:** The number of non-null elements in the Series.
    - **mean:** The mean (average) of the Series.
    - **std:** The standard deviation, which measures the spread of the data.
    - **min:** The minimum value in the Series.
    - **25%:** The 25th percentile (lower quartile).
    - **50%:** The median (50th percentile).
    - **75%:** The 75th percentile (upper quartile).
    - **max:** The maximum value in the Series.
    
- **Note:** the describe() works on numeric data

In [95]:
print(vk.describe())

count    215.000000
mean      30.855814
std       26.229801
min        0.000000
25%        9.000000
50%       24.000000
75%       48.000000
max      113.000000
Name: runs, dtype: float64

In [46]:
print(subs.describe())

count    365.000000
mean     135.643836
std       62.675023
min       33.000000
25%       88.000000
50%      123.000000
75%      177.000000
max      396.000000
Name: Subscribers gained, dtype: float64

**Series Indexing:**